<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.suxiunet.repair">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".base.baseui.SuXiuApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".base.baseui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!--用户信息-->
        <activity android:name=".businiss.center.view.UserInfoActivity"/>
        <!--修改昵称-->
        <activity android:name=".businiss.center.view.ModifyNickNameActivity"/>
        <!--登录-->
        <activity android:name=".businiss.center.view.LoginActivity"/>
        <!--修改性别-->
        <activity android:name=".businiss.center.view.ModifySexActivity"/>
        <!--用户反馈-->
        <activity android:name=".businiss.center.view.FeedBackActivity"/>
        <!--关于我们-->
        <activity android:name=".businiss.center.view.AboutActivity"/>
        <!--订单详情-->
        <activity android:name=".businiss.order.orderlist.view.OrderDetailActivity"/>
    </application>

</manifest>